<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slot Machine</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="info">
    <div id="balance">Balance: 100</div>

    <div class="betting">
        <input type="number" id="betAmount" min="1" value="10">
        <button id="spinButton">SPIN</button>
    </div>
</div>

<div class="slot-machine">
    <div class="reel" id="reel1">🍒</div>
    <div class="reel" id="reel2">🍋</div>
    <div class="reel" id="reel3">⭐</div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
